/**
 * projekt: eksamen på 1. semester multimediedesign
 **/

/* Adobe fonts */
@import url("https://use.typekit.net/vca8ebd.css");
/* font-family: semplicitapro, sans-serif; font-weight: 300; font-style: normal; */
@import url("https://use.typekit.net/vca8ebd.css");
/* font-family: marigny, sans-serif; font-weight: 500; font-style: italic; */

/* Variabler*/
:root {
  /* farver */
  --offwhite: #fafcfb;
  --lightgreen: #dee6dd;
  --green: #adccad;
  --darkgreen: #829b8e;
  --red: #ce1d1d;


  /* fonte */
  --overskrift: 'marigny', sans-serif; /* overskrifter */
  --brødtekst: 'semplicitapro', sans-serif; /* brødtekst */

/* teksturer ("fliselagte baggrunde") */

--baggrund: url('../images/baggrund.png');
--baggrundmobil: url('../images/baggrund-kopi.png');

}

body {
  background-color: var(--lightgreen);
}
  /* Smooth scroll */
  html {
    scroll-behavior: smooth;
  }


  /* margin på hele siden */
   body {
     margin: 0 auto;
   }


  /* margin på indhold */
  main {
    margin-right: 5%;
    margin-left: 5%;
   }


  /* Typografi */

h1 {
  font-family: var(--overskrift);
  text-align: center;
}

h2 {
  font-family: var(--overskrift);
  text-align: center;
}

h3 {
  font-family: var(--brødtekst);
  text-align: center;
  font-size: 1.4em;
}

h4 {
  font-family: var(--brødtekst);
  text-align: center;
  font-weight: lighter;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

p {
  font-family: var(--brødtekst);
  text-align: center;
}

.læs {
  font-size: 100%;
}

  /* Menubar*/
   #navigation {
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       height: 80px;
       width: 100%;
       background-color: var(--offwhite);
       color: var(--darkgreen);
   }

   /* Dropdown Button - https://www.w3schools.com/howto/howto_css_dropdown.asp */
   .dropbtn {
     color: var(--black);
     padding-bottom: 16px;
     padding-top: 16px;
     font-family: var(--brødtekst);
     font-size: 130%;
     text-decoration: none;
   }

   /* The container <div> - needed to position the dropdown content */
   .dropdown {
     position: relative;
     display: inline-block;
   }

   /* Dropdown Content (Hidden by Default) */
   .dropdown-content {
     display: none;
     position: absolute;
     background-color: var(--offwhite);
     min-width: 160px;
     z-index: 1;
     margin-top: 16px;
   }

   /* Links inside the dropdown */
   .dropdown-content a {
     color: var(--black);
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     font-family: var(--brødtekst);
     font-size: 130%;
   }

   /* Change color of dropdown links on hover */
   .dropdown-content a:hover {
     background-color: var(--lightgreen);
     color: var(--white);
   }

   /* Show the dropdown menu on hover */
   .dropdown:hover .dropdown-content {
     display: block;
   }

   /* Change the background color of the dropdown button when the dropdown content is shown */
   .dropdown:hover .dropbtn {
     background-color: var(--offwhite)
   }

   .dropbtn:hover {
     color: var(--green);
     cursor: pointer;
   }

   /* BURGERMENU */
    nav a {
     color: var(--black);
     text-decoration: none;
   }
   /* MENUBAR */
   #navigationburger {
       display: flex;
       justify-content: space-evenly;
       flex-direction: column;
       align-items: center;
       margin-top: 170px;
       width: 100%;
       color: var(--black);
   }

   /* Dropdown Button - https://www.w3schools.com/howto/howto_css_dropdown.asp */
   .btnburger {
     color: var(--black);
     font-family: var(--overskrift);
     font-size: 170%;
     text-decoration: none;
   }

   /* The container <div> - needed to position the dropdown content */
   .navburger {
     padding: 20px;
   }




  /* Forside */
  video {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .amomel {
    width: 100%;
    height: auto;
  }

  .konkurrence {
    display: block;
    border: 4px solid red;
    background-color: var(--offwhite);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 80%;
    margin-bottom: 30%;
  }

  .konkindhold img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }



  /*billeder på undersider*/
  .undersidebilleder {
    position: relative;
    text-align: center;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .billeder {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


   /* Underside - Produkter */

  .købher {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .butik {
    border: 2px solid red;
    background-color: var(--offwhite);
    margin: 5%;
    padding-right: 8%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .butik a {
    color: var(--black);
    text-decoration: none;
  }

  .melprodukt {
    width: 100%;
    height: auto;
  }


  /* Underside - Inspiration */
  .infographic {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .voila img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  .inspocolumn p {
    font-style: italic;
  }

    /* Underside - Om Amo */

    .omamorow img {
      width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20%;
    }



   /* FOOTER */
   #copyright {
     font-size: 15px;
     text-align: center;
   }

   .copyright {
     background-color: white;
   }

   footer{
   font-family: var(--brødtekst);
   font-size: 18px;
   text-align: center;
   background-image: var(--baggrund);
   background-size: 100% auto;

   }

   footer a{
     color: var(--lightgreen);
     text-decoration: none;
   }

   footer a:hover{
     color: var(--green);
   }

   .footer {
     font-weight: bold;
   }

   .ikoner {
     display: inline-block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 3%;
     background-color: inherit;
   }




   /* Extra small devices (phones, 600px and down) */
   @media only screen and (max-width: 600px) {

     /* navbar burgermenu ved lille skærm */
     .burgermenu{
       position: absolute;
       top: 1.5rem;
       right: 1.5rem;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
     }
     .burgermenu .bar{
       height: 3px;
       width: 100%;
       background-color: var(--black);
       border-radius: 10px;
     }
     .dropdown{
       display: none;
     }

     /* Underside - Inspiration */

     .voila h2 {
       display: none;
     }

     /* footer ved lille skærm */
     .ikoner {
       max-width: 50px;
       padding: 25px;
     }

     /*Typografi*/
      p {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
        font-size: 1.4em;

      }

      h4 {
        font-size: 1.4em;
      }

      footer{
      background-image: var(--baggrundmobil);
      background-size: 100% auto;
      }

     }


   /* Small devices (portrait tablets and large phones, 600px and up) */
   @media only screen and (min-width: 601px) {

     /* navbar burgermenu */
       .burgermenu{
         display:none;
       }

      /*Typografi*/
        p {
          margin-left: 10%;
          margin-right: 10%;
          margin-bottom: 10%;
          font-size: 1.4em;

        }

        /* Underside - Inspiration */

        .voila h2 {
          display: none;
        }

        footer{
        background-image: var(--baggrundmobil);
        background-size: 100% auto;
        }

   }


   /* Medium devices (landscape tablets, 768px and up) */
   @media only screen and (min-width: 768px) {
     .burgermenu{
       display:none;
     }

    /*Forside*/

    video {
      width: 80%;
    }


    .amomel {
      width: 100%;
      height: auto;
    }

    .forsiderow {
      display: flex;
    }

    .forsiderow p {
      padding-top: 10%;
      font-size: 1.2em;
    }

    /* Underside - Inspiration */
    .infographic {
      width: 70%;
    }

    .voila h1 {
        display: block;
        text-align: center;
      }

     /* FOOTER */
    /* kolonner til footer på computer */
        .row{
          display: flex;
          width: 100%;
        }
        .column {
          width: 50%;
          font-family: var(--brødtekst);
          text-align: center;
          color: var(--lightgreen);
        }

        .column p {
          font-size: 18px;
        }

        .ikoner {
          padding-right: 5%;
        }

        footer{
        background-image: var(--baggrund);
        background-size: 100% auto;
        }


     }

   /* Large devices (laptops/desktops, 992px and up) */
   @media only screen and (min-width: 992px) {
     .burgermenu{
       display:none;
     }

     /*Forside*/
     video {
       padding-top: 5%;
        padding-bottom: 5%;
       width: 70%;
     }

     .amomel {
       width: 100%;
       height: auto;
     }

     .forsiderow {
       display: flex;
     }

     .forsiderow p {
       padding-top: 10%;
       font-size: 1.2em;
     }

     .konkurrence {
       width: 60%;
     }

     .konkindhold img {
       max-width: 80%

     }


    /* Underside - Produkter*/

    .billeder {
      width: 120%;
      height: auto;
    }


    .produkterrow {
      display: flex;
      margin-left: 10%;
      margin-right: 15%;
      flex-direction: row-reverse;
    }

    .produkterrow p {
      font-size: 1.2em;
    }

    .melprodukt {
      width: 80%;
      height: auto;
    }

    .produktercolumn h1 {
      font-size: 2.5em;
      padding-top: 50%;
    }

    .butik {
      margin: 2%;
    }


    /* Underside - Inspiration */
    .infographic {
      width: 55%;
    }

    .voilarow {
      display: flex;
      margin-bottom: 10%;
    }

    .voila h1 {
      display: none;
    }

    .voila h2 {
      display: block;
      text-align: center;
    }

    .voila img {
  width: 70%;
    }

    /* opskrift */

    .insporow {
      display: flex;
    }

    .inspocolumn {
      border-left: 1px solid black;
      margin-bottom: 10%;
    }


    /* Underside - Om Amo*/

    .omamorow {
      display: flex;
      padding-right: 8%;
    }

    .omamorow img {
      width: 110%;
      padding-top: 20%;
    }

    .omamorow p {
      text-align: left;
    }

    .omamorow h1 {
      text-align: left;
      padding-left: 10%;
    }

    /* FOOTER */
    /* kolonner til footer på computer */
        .row{
          display: flex;
          width: 100%;
        }
        .column {
          width: 50%;
          font-family: var(--brødtekst);
          text-align: center;
          color: var(--lightgreen);
        }

        footer{
        background-image: var(--baggrund);
        background-size: 100% auto;
        }
      }



   /* Extra large devices (large laptops and desktops, 1200px and up) */
   @media only screen and (min-width: 1200px) {

    main {
      margin-right: 10%;
      margin-left: 10%;
    }

     .burgermenu{
       display:none;
     }

     /*Forside*/
     video {
       padding-top: 5%;
       padding-bottom: 5%;
       width: 70%;
     }

     .amomel {
       width: 70%;
       height: auto;
     }



     /* FOOTER */
    /* kolonner til footer på computer */
        .row{
          display: flex;
          width: 100%;
        }
        .column {
          width: 50%;
          font-family: var(--brødtekst);
          text-align: center;
          color: var(--lightgreen);
        }

        footer{
        background-image: var(--baggrund);
        background-size: 100% auto;
        }

   }
