/**
 * projekt: eksamen på 1. semester multimediedesign
 **/

/* Adobe fonts */
@import url("https://use.typekit.net/vca8ebd.css");
/* font-family: semplicitapro, sans-serif; font-weight: 300; font-style: normal; */
@import url("https://use.typekit.net/vca8ebd.css");
/* font-family: marigny, sans-serif; font-weight: 500; font-style: italic; */

/* Variabler*/
:root {
  /* farver */
  --offwhite: #f7f9f8;
  --lightgreen: #dde5dc;
  --green: #accbac;
  --darkgreen: #819a8d;
  --red: #cd1d1d;

  /* fonte */
  --overskrift: 'marigny', sans-serif; /* overskrifter */
  --brødtekst: 'semplicitapro', sans-serif; /* brødtekst */

/* teksturer ("fliselagte baggrunde") */

--baggrund: url('../images/baggrund.png');

}

  /* Smooth scroll */
  html {
    scroll-behavior: smooth;
  }

  /* Wrap */
  #wrap {
    min-height: 100vh;
    margin: auto;
   }


  /* Typografi */



  /* Menubar*/
   #navigation {
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       height: 80px;
       width: 100%;
       background-color: var(--offwhite);
       color: var(--darkgreen);
   }

   /* Dropdown Button - https://www.w3schools.com/howto/howto_css_dropdown.asp */
   .dropbtn {
     color: var(--black);
     padding-bottom: 16px;
     padding-top: 16px;
     font-family: var(--brødtekst);
     font-size: 130%;
     text-decoration: none;
   }

   /* The container <div> - needed to position the dropdown content */
   .dropdown {
     position: relative;
     display: inline-block;
   }

   /* Dropdown Content (Hidden by Default) */
   .dropdown-content {
     display: none;
     position: absolute;
     background-color: var(--offwhite);
     min-width: 160px;
     z-index: 1;
     margin-top: 16px;
   }

   /* Links inside the dropdown */
   .dropdown-content a {
     color: var(--black);
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     font-family: var(--brødtekst);
     font-size: 130%;
   }

   /* Change color of dropdown links on hover */
   .dropdown-content a:hover {
     background-color: var(--lightgreen);
     color: var(--white);
   }

   /* Show the dropdown menu on hover */
   .dropdown:hover .dropdown-content {
     display: block;
   }

   /* Change the background color of the dropdown button when the dropdown content is shown */
   .dropdown:hover .dropbtn {
     background-color: var(--offwhite)
   }

   .dropbtn:hover {
     color: var(--green);
     cursor: pointer;
   }

   /* BURGERMENU */
    nav a {
     color: var(--black);
     text-decoration: none;
   }
   /* MENUBAR */
   #navigationburger {
       display: flex;
       justify-content: space-evenly;
       flex-direction: column;
       align-items: center;
       margin-top: 170px;
       width: 100%;
       color: var(--black);
   }

   /* Dropdown Button - https://www.w3schools.com/howto/howto_css_dropdown.asp */
   .btnburger {
     color: var(--black);
     font-family: var(--overskrift);
     font-size: 170%;
     text-decoration: none;
   }

   /* The container <div> - needed to position the dropdown content */
   .navburger {
     padding: 20px;
   }





   /* FOOTER */
   #copyright {
     font-size: 15px;
     text-align: center;
   }

   .copyright {
     background-color: white;
     padding: 1em;
   }

   footer{
   font-family: var(--brødtekst);
   font-size: 20px;
   text-align: center;
   background-image: var(--baggrund);
   background-size: 100% auto;

   }

   footer a{
     color: var(--lightgreen);
     text-decoration: none;
   }

   footer a:hover{
     color: var(--green);
   }

   .footer {
     font-weight: bold;
   }

   .ikoner {
     display: inline-block;
     margin-left: auto;
     margin-right: auto;
     padding: 20px;
     background-color: inherit;
   }




   /* Extra small devices (phones, 600px and down) */
   @media only screen and (max-width: 600px) {

     /* navbar burgermenu ved lille skærm */
     .burgermenu{
       position: absolute;
       top: 1.5rem;
       right: 1.5rem;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
     }
     .burgermenu .bar{
       height: 3px;
       width: 100%;
       background-color: var(--black);
       border-radius: 10px;
     }
     .dropdown{
       display: none;
     }

     /* footer ved lille skærm */
     .ikoner {
       max-width: 50px;
       padding: 25px;
     }
   }




   /* Small devices (portrait tablets and large phones, 600px and up) */
   @media only screen and (min-width: 601px) {

     /* navbar burgermenu */
       .burgermenu{
         display:none;
       }
   }


   /* Medium devices (landscape tablets, 768px and up) */
   @media only screen and (min-width: 768px) {
     .burgermenu{
       display:none;
     }


     /* FOOTER */
    /* kolonner til footer på computer */
        .row{
          display: flex;
          width: 100%;
        }
        .column {
          width: 50%;
          background-image: var(--baggrund);
          font-family: var(--brødtekst);
          text-align: center;
          color: var(--lightgreen);
        }

   }


   /* Large devices (laptops/desktops, 992px and up) */
   @media only screen and (min-width: 992px) {
     .burgermenu{
       display:none;
     }


     /* FOOTER */
    /* kolonner til footer på computer */
        .row{
          display: flex;
          width: 100%;
        }
        .column {
          width: 50%;
          background-image: var(--baggrund);
          font-family: var(--brødtekst);
          text-align: center;
          color: var(--lightgreen);
        }
      }



   /* Extra large devices (large laptops and desktops, 1200px and up) */
   @media only screen and (min-width: 1200px) {

     .burgermenu{
       display:none;
     }


     /* FOOTER */
    /* kolonner til footer på computer */
        .row{
          display: flex;
          width: 100%;
        }
        .column {
          width: 50%;
          background-image: var(--baggrund);

          font-family: var(--brødtekst);
          text-align: center;
          color: var(--lightgreen);
        }


   }
